@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fira Sans", serif;
  background-color: rgb(245, 245, 245);
}
nav,
header,
main {
  margin: 0 160px;
}
/* nav-bar */
nav h1 {
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}
.sign-in-btn {
  color: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px 15px 30px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  margin-bottom: 40px;
  cursor: pointer;
}
.sign-in-btn:hover {
  background-color: rgb(198, 228, 214);
}
.sign-in-btn:active {
  background-color: rgba(198, 228, 214, 0.653);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
}
/* header */

header p {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
}
header h1 {
  color: rgb(14, 14, 14);
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  width: 622px;
  height: 201px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.header-btn {
  border-radius: 8px;
  background-color: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px 17px 34px;
  border: none;
  cursor: pointer;
}
.header-btn:hover {
  background-color: rgba(0, 106, 80, 0.766);
}
.header-btn:active {
  background-color: rgb(0, 106, 80);
}
header {
  padding: 80px 100px;
  border-radius: 24px;
  background-color: rgb(198, 228, 214);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* piller section */
.pillar {
  margin: 80px 0;
}
.pillar h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.pillar-card-container {
  display: flex;
  gap: 24px;
}
.pillar-card {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 24px;
}
.pillar-card h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin: 25px 0 12px 0;
}
.pillar-card p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.vision {
  margin: 80px 0;
}
.vision h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
}
.vision p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0 30px 0;
}
.vision-card-container {
  display: flex;
  gap: 24px;
}
.vision-card {
  padding: 32px;
  border-radius: 16px;
}
#vision-card-1 {
  background-color: rgba(84, 144, 245, 0.2);
}
#vision-card-2 {
  background-color: rgb(198, 228, 214);
}
#vision-card-3 {
  background-color: rgb(247, 235, 207);
}
.learn-more-btn {
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
#learn-more-btn-1 {
  background-color: rgb(84, 144, 245);
}
#learn-more-btn-1:hover {
  background-color: rgba(84, 143, 245, 0.692);
}
#learn-more-btn-1:active {
  background-color: rgb(84, 144, 245);
}
#learn-more-btn-2 {
  background-color: rgb(9, 161, 92);
}
#learn-more-btn-2:hover {
  background-color: rgba(9, 161, 93, 0.605);
}
#learn-more-btn-2:active {
  background-color: rgb(9, 161, 92);
}
#learn-more-btn-3 {
  background-color: rgb(255, 194, 57);
}
#learn-more-btn-3:hover {
  background-color: rgba(255, 196, 57, 0.622);
}
#learn-more-btn-3:active {
  background-color: rgb(255, 196, 57);
}
.quote {
  background: url(./assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 48px 24px;
  padding: 48px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  margin: 32px 0 80px 0;
}
.quote-text {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.narrator {
  margin-top: 12px;
}
.narrator h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
}
.narrator p {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
}
.option {
  padding: 32px;
}
.option > h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.question-container {
  border-radius: 16px;
  padding: 32px;
  background-color: rgb(255, 255, 255);
}
.question-head {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: rgb(198, 228, 214);
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
.question-head > h2 {
  color: rgb(14, 14, 14);
  font-size: 20px;
  font-weight: 600;
}
.question-box-container {
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.question-label {
  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
}
.select-menu {
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background-color: rgba(9, 161, 92, 0.15);
  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 14px 10px 14px;
}
.news-card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.news-card-container h1 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
}
.news > h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
}
.news > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0 32px 0;
}
.news-card > img {
  border-radius: 24px;
}
.news-card {
  display: flex;
  gap: 32px;
  border-radius: 24px;
  padding: 48px;
  background: rgb(255, 255, 255);
}
.news-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}
.news-content p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.news-para {
  margin-bottom: 32px;
}
.read-more-btn {
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  padding: 13px 26px 13px 26px;
  border: none;
  cursor: pointer;
}
.read-more-btn:hover {
  background: rgba(0, 106, 80, 0.653);
}
.read-more-btn:active {
  background: rgb(0, 106, 80);
}
.donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-align: center;
}
.donate h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  margin: 80px 0 10px 0;
}
.donate p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  width: 1104px;
  height: 48px;
}
.taka-btn-container {
  display: flex;
  gap: 24px;
}
.tk-btn {
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 40px;
  cursor: pointer;
}
.tk-btn:hover {
  background: rgb(198, 228, 214);
}
.tk-btn:active {
  background: rgba(198, 228, 214, 0.372);
}
.tk-input {
  width: 1032px;
  height: 64px;
  box-shadow: 0 2px 1px rgba(14, 14, 14, 0.136);
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.done-now-btn {
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background-color: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px 17px 34px;
  border: none;
  cursor: pointer;
}
.done-now-btn:hover {
  background-color: rgba(0, 106, 80, 0.814);
}
.done-now-btn:active {
  background-color: rgb(0, 106, 80);
}
.subscribe {
  text-align: center;
  border-radius: 24px;
  background-color: rgb(198, 228, 214);
  padding: 80px 100px 80px 100px;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.subscribe h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
}
.subscribe p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  width: 622px;
  height: 48px;
}
.email-container {
  display: flex;
}
#email {
  border-radius: 8px 0px 0px 8px;
  background-color: rgb(255, 255, 255);
  padding: 18px 40px 18px 40px;
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 600px;
}
.subscribe-btn {
  border-radius: 0px 8px 8px 0px;
  background-color: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 17px 34px 17px 34px;
  cursor: pointer;
}
.subscribe-btn:hover {
  background-color: rgba(0, 106, 80, 0.639);
}
.subscribe-btn:active {
  background-color: rgb(0, 106, 80);
}
footer {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.footer-content {
  padding: 50px;
  margin: 0 160px;
}
.footer-content h1 {
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
hr{
  border: 1px solid rgba(14, 14, 14, 0.1);
}
.logo{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
